@media screen and (max-width: 1024px) {
    .slogan::before{
        height: 30%;
    }

    #projeto {
        margin-top: 1%;
    }

    #cards-equipe-titulo {
        width: 123%;
    }

    #cards-equipe-descricao {
        width: 124%;
    }
}

@media screen and (max-width: 768px) {
    .slogan::before{
        height: 40%;
    }

    #cards-equipe-titulo {
        width: 120%;
    }

    .card-equipe-descricao {
        width: 90%;
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    h3 {
        width: 90%;
    }
    .slogan::before{
        height:92%;
    }

    .slogan {
        margin-top: 15%;
    }

    .features {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 5%;
        margin-left: 2rem;
     }

     .texto_equipe {
        text-align: center;
     }

     #cards-equipe-titulo {
        font-size: 10px;
     }

     .card-equipe-descricao{
        margin-top: 1%;
        width: 20%;
        font-size: 10px;
     }

     .form_group {
        justify-self: center;
        width: 40%;
     }
}