@media screen and (max-width: 1024px) {
    .slogan::before{
        height: 30%;
    }

    #projeto {
        margin-top: 1%;
    }

    #cards-equipe-titulo {
        width: 123%;
    }

    #cards-equipe-descricao {
        width: 124%;
        background-color: red;
    }
}